<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicia sesion</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <nav class="nav">
      <div class="container">
        <div class="logo">
          <a href="../index.html">LoboSimuladorEGA<img src="" alt="" /></a>
      </div>
        <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../template/cursos.html">CURSOS</a></li>
            <li><a href="../template/Simuladores.html">SIMULADORES</a></li>
            <li><a href="../template/registro.html">REGISTRO</a></li>
            <li><a href="../template/login.html">INICIO DE SESIÓN</a></li>
            <li><a href="../template/about.html">ACERCA DE NOSOTROS</a></li>
          </ul>
        </div>
        <span class="navTrigger">
          <i></i>
          <i></i>
          <i></i>
        </span>
      </div>
    </nav>

    <section class="home"></section>

    <!--<div class="Titles">
      <h1></h1>
    </div>-->
    <div class="Caja">
        <div class="log-form">
            <h2>Inicia Sesión en tu cuenta</h2>
            <form>
              <input type="text" title="username" placeholder="username" />
              <input type="password" title="username" placeholder="password" />
              <button type="submit" class="btn">Iniciar Sesión</button>
              <a class="forgot" href="#">Forgot Username?</a>
            </form>
          </div>

    </div>

    

    <!-- -----------Script----------- -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../js/script.js"></script>

    <!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
      $(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
          $(".nav").addClass("affix");
          console.log("OK");
        } else {
          $(".nav").removeClass("affix");
        }
      });
    </script>

    <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-md-6">
            <h6>About</h6>
            <p class="text-justify">
              O-live <br />
              Empresa mexicana dedicada a la formación <br />
              de materiales didácticos tecnólogicos para <br />
              el aprendizaje del alumno
            </p>
          </div>

          <div class="col-xs-4 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="">C</a></li>
              <li><a href="">UI Design</a></li>
              <li><a href="">PHP</a></li>
              <li><a href="">Java</a></li>
              <li><a href="">Android</a></li>
              <li><a href="">Templates</a></li>
            </ul>
          </div>

          <div class="col-xs-4 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="">About Us</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Contribute</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">
              Copyright &copy; 2017 All Rights Reserved <a href="#"></a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li>
                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
              </li>
              <li>
                <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Script Entregable -->
    <!--<script src="./js/scriptentregable.js"></script>-->
  </body>
</html>
